@keyframes line1Animations {
    0% {width: 100%}
    100% {width: 0%;}
    
}
@keyframes line2Animations {
    0% {width: 0%}
    100% {width: 100%;}
    
}

.Line3{
    width: 0%;
    height: 2px; 
}
.Line1{
    width: 0%;
    height: 2px;
    border-radius: 1px;
    background:linear-gradient(90deg,blue, blue, white);
    animation-name: line1Animations;
    animation-duration: 0.7s;
    margin-inline:auto ;
}
.Line2{
    height: 2px;
    border-radius: 1px;
    animation-name: line2Animations;
    animation-duration: 0.7s;
    background:linear-gradient(90deg, blue, blue, white);
    margin-inline:auto ;
}