:root{
    --app-inner-width: 80%;
    --app-background-color: white;
    --app-color:#050A30;
    --app-seondary-color:rgba(5, 10, 48, 0.7);
}
.divider{
    border: 1px solid rgba(128, 128, 128, 0.4);
    margin-inline: .5rem;
}

.landingPage{
    text-align: center;
    font-size: 1.3rem;
    font-family: Lobster;
    color: var(--app-color);
}
/* navbar css */
.navBar{
    width: 100%;
   top: 0px;
   position:fixed;
    font-weight: bold;
    color: white;
    z-index: 1000;
}
.colorChange{
    width: 100%;
   top: 0px;
   position:fixed;
    font-weight: bold;
    color:#050A30;
    z-index: 1000;
    background-color:white;
    box-shadow: 0px 1px rgba(128, 128, 128, 0.1);
}

.socialMediaIcon{
    width: 1.5rem;
    height: 1.5rem;
}
.iconLinks{
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-block: .5rem;
}

.innerNav{
    display: flex;
    justify-content: space-between;
    padding-inline: 5rem;
    padding-block: .5rem;
}

.pages{
    width: 30%;
    display: flex ;
    justify-content: space-between;
    margin-block: auto;
}

.logo{
    font-family: Lobster;
    margin: 0px;
    padding-inline: 1.3rem;
    padding-block: .3rem;
    box-shadow: 3px 3px 5px var(--app-color);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.hacker{
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 3rem;
    text-shadow: -1px 0 var(--app-color), 0 1px var(--app-color), 1px 0 var(--app-color), 0 -1px var(--app-color);
}
@keyframes line1Animations {
    0% {width: 100%}
    100% {width: 0%;}
    
}
@keyframes line2Animations {
    0% {width: 0%}
    100% {width: 100%;}
    
}

.Line3{
    width: 0%;
    height: 2px; 
}
.Line1{
    width: 0%;
    height: 2px;
    border-radius: 1px;
    background:linear-gradient(90deg,#050A30, steelblue, white);
    animation-name: line1Animations;
    animation-duration: 0.7s;
    margin-inline-start:auto;
    
}
.Line2{
    height: 2px;
    border-radius: 1px;
    animation-name: line2Animations;
    animation-duration: 0.7s;
    background:linear-gradient(90deg,#050A30, steelblue, white);
    margin-inline-end:auto;
}

/* Section 1 css */


.myBackgroundImage{
    width: 100%;
    
}
.flexContainer{
    width: 100%;
   
}
.flexItem1{
    position: absolute;
    width: 30%;
    font-size: 4rem;
    font-weight: bold;
    text-align: start;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    text-shadow: 3px 3px 3px black;
    top: 35%;
    padding: .5rem;
    
}
.backgroundContainer{
    width: 100%;
    height: fit-content;
    background-color: var(--app-color);
    padding: 0px;
    margin: 0px;
    
}
.backgroundContainer>img{
    height: calc(100vh);
    opacity: .9;
    padding: 0px;
    margin: 0px;
}

.softText{
    font-size: 1.3rem;
    font-weight: normal;
    color: white;
    text-shadow: -1px 0 var(--app-color), 0 1px var(--app-color), 1px 0 var(--app-color), 0 -1px var(--app-color);
}
/* section 2 css */
.Section2{
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: var(--app-inner-width);
    margin-inline: auto;
    background-color: white;
    box-shadow: 1px 1px 10px var(--app-color);
}
.flexContainerSection2{
    display: flex;
    justify-content: center;
}
.mafaPic{
    width: 40%;
    padding: 2px;
    
}
.mafaPic>img{
    width: 100%;
    max-height: 29rem;
    transition: 1.5s ease;
    border-radius: 3px;
    
}
.mafaPic>img:hover{
    transform: scale(1.05);
}
.aboutMafa{
    width: 60%;
    
}
.aboutHeadingText{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 var(--app-color), 0 1px var(--app-color), 1px 0 var(--app-color), 0 -1px var(--app-color);
}
.myName2{
    font-size: 1.1rem;
    font-weight: bold;
    
}
.infoAboutMafa{
    margin-block: 1rem;
    padding-inline: 1rem;
    color: var(--app-seondary-color);
    font-size: 1rem;
    

}
.myButton{
   display: flex;
   padding: .1rem;
   justify-content: start;

   
}
.myButton > button{
   width: 9rem;
   height: 4rem;
   text-align: center;
   font-size: 1rem;
   border-radius: 0px;
   border: 2px solid black;
   text-decoration: none;
   outline: none;
   background-color: black;
   color: white;
   margin-left: 5%;
   font-family: Lobster;
}
.myButton > button:hover{
   background-color: white;
   color: black;
}


/* secton 3 css */
.Section3{
    margin-top: 8rem;
    margin-bottom: 1rem;
    height: fit-content;
    width: var(--app-inner-width);
    margin-inline: auto;
    background-color: white;
    border: 3px solid black;
}
.cardContainer{
    border: 1px solid red;
    display: grid;
    grid-auto-flow: column;
    height: 100%;
    gap: .2rem;
    padding: .3rem;
    
}
.card{
    border: 1px double blue;
    width: fit-content;
    height: fit-content;
    margin-inline:auto;
    display: flex;
    gap: .1rem;
    flex-wrap: wrap;
   
}
.card > img{
    
    max-height: 24rem;
}
